@import "tailwindcss";

@theme {
  --color-morado: #704efd;
  --color-celeste: #2cb7ff;
  --color-fondo: #f3f4ff;
  --color-marino: #091e42;
  --color-celeste-claro: #cbe8ff;
  --color-lila-claro: #dfd5ff;
  --color-ok: #16a37a;
  --color-alerta: #f5a524;
  --color-riesgo: #e5484d;
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--color-fondo);
  color: var(--color-marino);
  font-family: var(--font-poppins), sans-serif;
}
